<div id="content" class="app-content">
    <div class="card" style="margin-top: 100px; ">
        <div class="container">
            <div class="row justify-content-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Thống kê</a></li>
                    <li class="breadcrumb-item active">Tỉ lệ trẻ</li>
                </ul>
                <hr class="mb-4" />
                <div class="nav-search">
                    <p class="pull-right no-margin">
                        <select id="MaLopHoc" class="form-control" (change)="changedLopHoc($event.target.value)">
                            <option value="" selected>Toàn Trường</option>
                            <option *ngFor="let lh of lophocs" value="{{lh.maLopHoc}}">{{lh.tenlophoc}}</option>
                        </select>
                    </p>
                </div>
                <div id="chartContainer" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>