<section class="content">
    <div class="content__inner">
        <header class="content__title">
            <h1>Tin nhắn</h1>
            
        </header>

        <div class="messages" style="background-color: #f1efef;">
            <div class="messages__sidebar" >
                <div class="toolbar toolbar--inner mb-3">
                    <div class="toolbar__label">Long Nguyen</div>

                    <div class="actions toolbar__actions">
                        <a href="" class="actions__item zmdi zmdi-plus"></a>
                    </div>
                </div>

                <div class="messages__search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <i style="position: relative; left: 15px" class="form-group__bar"></i>
                    </div>
                </div>

                <div class="listview listview--hover">
                    <div class="scrollbar-inner">

                        <a class="listview__item" href="">
                            <div class="pull-left">
                                <img src="../../../assets/demo/img/profile-pics/2.jpg" alt="" class="listview__img">
                            </div>
                            <div class="listview__content">
                                <div class="listview__heading">Nguyễn Văn Hùng</div>
                                <p>Phasellus porttitor tellus nec</p>
                            </div>
                        </a>

                        <a class="listview__item" href="">
                            <div class="pull-left">
                                <img src="../../../assets/demo/img/profile-pics/1.jpg" alt="" class="listview__img">
                            </div>
                            <div class="listview__content">
                                <div class="listview__heading">Trần Thị Thuỳ</div>
                                <p>Vivamus imperdiet sagittis quam</p>
                            </div>
                        </a>

                        <a class="listview__item" href="">
                            <div class="pull-left">
                                <img src="../../../assets/demo/img/profile-pics/3.jpg" alt="" class="listview__img">
                            </div>
                            <div class="listview__content">
                                <div class="listview__heading">Lưu Bang</div>
                                <p>Suspendisse justo nulla luctus nec</p>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>

            
            <div *ngIf="!channel">
                <form id="login-form" (ngSubmit)="joinChat()">
                  <div class="form-group">
                    <label for="username">Nhập tên:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="text"
                      name="username"
                      placeholder="Username"
                      [(ngModel)]="username"
                    />
                  </div> 
                  <button type="submit" class="btn btn-primary">Gửi</button>
                </form>
              </div>

            <div *ngIf="channel" class="messages__body" style="background-color: #f1efef;">
                <div class="messages__header">
                    <div class="toolbar toolbar--inner mb-0">
                        <div class="toolbar__label">Nhà trường</div>

                        <div class="actions toolbar__actions">
                            <i class="actions__item zmdi zmdi-search" data-ma-action="toolbar-search-open"></i>
                            <a href="" class="actions__item zmdi zmdi-time"></a>
                            <a href="" class="actions__item zmdi zmdi-info-outline"></a>
                            <div class="dropdown actions__item">
                                <i class="actions__item zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="" class="dropdown-item">Refresh</a>
                                    <a href="" class="dropdown-item">Delete all</a>
                                    <a href="" class="dropdown-item">Settings</a>
                                </div>
                            </div>
                        </div>

                        <div class="toolbar__search">
                            <input type="text" placeholder="Search...">
                            <i class="toolbar__search__close zmdi zmdi-long-arrow-left"
                                data-ma-action="toolbar-search-close"></i>
                        </div>
                    </div>
                </div>

                <div class="messages__content">
                    <div class="scrollbar-inner">
                        <div class="msg_history">
                            <li class="message" *ngFor="let message of messages">
                                <div *ngIf="
                                  message.user.id !== currentUser.me.id;
                                  then incoming_msg;
                                  else outgoing_msg
                                "></div>
                                <ng-template #incoming_msg>
                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img">
                                            <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                                        </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>{{ message.text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #outgoing_msg>
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>{{ message.text }}</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </div>
                    </div>
                </div>
                <hr>


                <div class="messages__reply">
                    <form class="input_msg_write" (ngSubmit)="sendMessage()">
                        <input class="messages__reply__text" type="text"
                            name="newMessage" 
                            [(ngModel)]="newMessage"
                            placeholder="Nhập tin nhắn...">
                        <button class="msg_send_btn" type="button">
                            <i class="zmdi zmdi-mail-send zmdi-hc-fw" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>